<%- include("partials/header") %> 

<h1>Home.</h1>
<p><%= content %> </p>

<% newPosts.forEach(function(newPost) { %> 

    <h1><%= newPost.title %> </h1>

    <% if(newPost.postBody.length >100) {var s = newPost.postBody.substring(0, 100) + " ...";}else { var s = newPost.postBody;} %> 
    <p style="display: inline"><%= s  %> </p>
    <a href="http://localhost:3000/posts/<%= newPost._id  %>">Read more</a>
<% }) %> 

<%- include("partials/footer") %> 